#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Burg-manager
Exec=burg-manager
Icon=burg-manager
Terminal=false
X-MultipleArgs=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;System;
